<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            {{ if .Site.Data.contact.cell_phone }}
            <li><strong>Phone: </strong><a href="{{ .Site.Data.contact.cell_phone }}">(814) 720-0772</a></li>
            {{ end }}
            {{ if .Site.Data.contact.email }}
            <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></li>
              {{ end }}
          </ul>
          <ul>
            <li class="slasch"><a href="https://steven-lasch.com">developer</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
